#-----------------------------------------------------------------------
# /po/
#-----------------------------------------------------------------------
/po/LINGUAS

#-----------------------------------------------------------------------
# /doc/
#-----------------------------------------------------------------------
/doc/hacking.html
/doc/*.pdf
/doc/reference

# waf files
bin
.lock-waf*
.waf-*
po/.intlcache
